@model ProntoMobile.Web.Data.Entities.Usuario

@{
    ViewData["Title"] = "Detalles";
}


<h2>Usuario</h2>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Documento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Document)
        </dd>
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            Apellido
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            Telefono
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt>
            # Bases
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DetalleUserBDs.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="AddBD" asp-route-id="@Model.Id" class="btn btn-primary">Agregar base</a>
    <a asp-action="Index" class="btn btn-success">Volver a la lista</a>
</div>
<h4>Bases</h4>
@if (Model.DetalleUserBDs.Count == 0)
{
    <h5>No tiene bases asignadas.</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Descripcion
                </th>
                <th>
                    Sistema
                </th>
                @*<th>
                    String de conexion
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DetalleUserBDs)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Base.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Base.Sistema)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Base.StringConection)
                </td>*@
                <td>
                    @*<a asp-action="EditBD" asp-route-id="@item.IdBD" class="btn btn-warning">Edit</a>
                    <a asp-action="DetailsBD" asp-route-id="@item.IdBD" class="btn btn-info">Details</a>*@
                    <a asp-action="DeleteBD" asp-route-id="@item.IdDetalleUserBD" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Usuarios/DeleteBD/' + item_to_delete;
            });
        });
    </script>
}